<footer class="footer">
  <div class="footer-content">
    <p>
      This benefits application is a service built by Code for America on behalf
      of the people in the state of Louisiana.
    </p>
    <ul class="footer-links">
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li>
        <a href="/snap-applicant.pdf" download>Download links (demo-only):</a>
      </li>
    </ul>
    <img
      class="logo"
      src="/assets/images/code-for-america-logo_white.svg"
      alt="Code for America Logo"
    />
  </div>
</footer>
