body {
  background-color: #f3f3f3;
  margin: 0;
}
.box {
  border: 2px solid #b5b5b5;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
  border-radius: 4px;
}
.box ol {
  display: block;
  list-style-position: inside;
  text-align: left;

  letter-spacing: 0.25px;
  justify-content: left;
}
.box li {
  padding-right: 4rem !important;
}

.sd-btn {
  background-color: rgb(1, 128, 96) !important;
  color: #ffffff !important;
  border-radius: 4px;
  font-size: 19px !important;
}
.sd-btn:focus {
  border: 2px solid orange;
}

.sd-dropdown:hover {
  border: 2px solid orange;
  border-radius: 4px;
}

.sd-body__navigation {
  justify-content: center;
}
.sd-body {
  width: 50% !important;
  margin: auto !important;
  background-color: white;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  border-radius: 6px;
}
